---
import Layout from '../layouts/Layout.astro'
---
<Layout>
  <h1>Roadmap</h1>
  <ol>
    <li>Associate wallet address to user unique identifier (any string value: id, uuid, email, etc.)</li>
    <li>CRUD users and Login/Signup users</li>
    <li>Support other wallets and chains</li>
    <li>Create auth libraries and clients to communitate with gatekeeper server</li>
  </ol>
</Layout>